<h1> adoptions/new </h1>

<h1>Adopt a Pet!</h1>

<%= form_for @adoption do |f| %>
    <%= f.label "Pet's Name" %>
    <%= f.collection_select :pet_id, Pet.all, :id, :name %><br>
    <br>

    <%= f.submit "Adopt this pet!"%>

<% end %>