<body class="contact_page">
<div class="mvp_info">
    <h1>Most Valuable Pigeon!</h1>
    <h2>Meet Peanut!</h2>
    <h3>The proliferator of pigeon hashes!</h3>
</div>
<%= image_tag ("Pigeon MVP.jpg"), class:"pigeonMVP_image"%>
    <p class="mvp_info">Hello, Franklin!</p>
</body>
