/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background: url("Horizontal_02.jpg") no-repeat center center fixed;
    background-size: cover; 
    overflow: visible;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
 }

ul {
     list-style-type: none;
 }
 /* url(Horizontal_05.jpg) */

.nav_container{
   margin-bottom: 2em;
}

 .nav-item:hover{
    background-color: aquamarine;
    border-radius: 50px;
 }

.nav-link{
   font-size: 1.3em;
   font-weight: 700;
   text-shadow: 0px 0px 5px white;
}

 .nav-link:hover{
     font-size: 1.25em;
 }

 .error_message {
     color: red;
     font-size: 2.5em;
    text-align: center;
 }

 h1.title {
   color: rgb(42, 120, 238);
   text-align: center;
   font-size: 4em;
   font-weight: 700;
   text-shadow: 0px 0px 25px #f09f0a;
 } 

 footer {
   position: relative;
   text-align: center;
   left: 0;
   bottom: 0;
   width: 100%;
   border-top: solid 1px;
   padding-top: 1.2em;
   margin-top: 10em;
 }

 footer p {
   text-shadow: 0px 0px 5px white;
 }