// Place all the styles related to the pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.pets_container {
    margin: 5%;
}

.card{
    max-width: 20rem; 
    max-height: 35rem; 
    padding: 1em; 
    margin-bottom: 2em;
    box-shadow: 5px 10px 30px #888888;
}

.card-text {
    height: 100px;
    overflow:hidden;
}

// .btn {
//     float: right;
// }

.individual_pet_img {
    display: block;
    width: 40%;
    height: 40%;
    margin: auto;
    box-shadow: 5px 10px 30px #888888;
}

.pet_info_box {
    // border:solid;
    // background-color: white;
    font-size: 1.5em;
}

body.all_pets {
    background: url("Vertical_01.jpg") no-repeat center center fixed;
    background-size: cover; 
    overflow: visible;
}

body.individual_pet_page{
    background: url("Horizontal_06.jpg") no-repeat center center fixed;
    background-size: cover; 
    overflow: visible;
}