// Place all the styles related to the rents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.rent_container {
    display: block;
    width: 50%;
    text-align: left;
    
    opacity: 100%;
}

body.playdate_page{
    background: url("Vertical_11.jpg") no-repeat center center fixed;
    background-size: cover; 
    overflow: visible;
    background-position-y: 20%;

}