// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.review_container {
    display: block;
    width: 50%;
    text-align: left;
    opacity: 100%;
}

body.new_review_page {
    background: url("Vertical_10.jpg") no-repeat center center fixed;
    background-size: cover; 
    overflow: visible;
}