// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.profile_container {
    display: block;
    width: 100%;
    margin-left: 50%;
    text-align: left;
    padding-left: 10%;
    opacity: 100%;
}

.user_header {
    color: rgb(42, 120, 238);
    text-align: left;
    font-size: 1.75em;
    font-weight: 700;
}

.sub_header {
    color:rgb(119, 77, 233);
}

body.user_profile_page {
    background: url("Vertical_09.jpg") no-repeat center center fixed;
    background-position-y: 35%;
    background-size: cover; 
    overflow: visible;
}

