// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.profile_container {
    display: block;
    width: 100%;
    text-align: center;
    padding-left: 10%;
    opacity: 80%;
}

.sub_header {
    color:rgb(119, 77, 233);
}