<h1> reviews/show </h1>


Name of Pet: <%= @review.pet.name%><br>
Rating: <%= @review.rating %><br>
Review: <%= @review.content %><br>


<br>
<%= link_to "Delete this review", @review, :method => :delete %>